.footer{
	width: 100%;
	background-color: #49cbb1;
	height: 50px;
}

.footer p {
	text-align: left;
	line-height: 50px;
	margin-left: 10px;
	color: black;

}
@media only screen and (max-width: 500px)  {
	.footer{
		margin-top: 50px;
	}
}