*{
    margin: 0;
    padding: 0;
  }
  
  .App {
    height: 100vh;
    // display: flex;
    color: white;
  
  }
  
  .App_Aside {
    width: 50%;

    background:  #1abc9c;

  }
  .App__Form {
    width: 50%;
    padding: 25px 40px;
    overflow: auto;
  }
  .FromCenter {
    margin-bottom: 100px;
  }
  .FormField {
    margin:  55px 20px 20px 25px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 100px;
  
  
  
  }
  .FormField__User {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
  
  }
  .FormField__loginLabel {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    text-align:center;
    color:  #1abc9c;
    padding-top: 50px;
    padding-bottom: 20px;
  
  
  }
  .FormTitle {
    font-weight: 300;
    margin-bottom: 50px;
  }
  .container {
    padding: 16px;
  }
  form {
    box-sizing: border-box;
    width: 360px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;

  }
  .FormField__User input {
    margin: 40px 25px;
    width: 300px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
  }
  button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .bt-loginsu{
    width: 100px;
    margin-left:    120px;
  }
  .bt-login{
    margin-left: 20px;
  }

  .logo{
    font-size: 15px;
    color: gray;
    display: block;
    text-align: center;
    padding-top: 250px;
  }
img.image {
   
		width: 60%;
		height: auto;
		margin-top: 30%;
		margin-left: 20%;
	
}
.line{
    text-align: center;
    padding-top: -200px;
    display: block;
    font-size: 25px;
}
@media only screen and (max-width: 500px) {
   .App_Aside {
    height: 200px ;
    width: 600px;
   }
  .App__Form {
    margin-top:  240px;
    margin-left: -150px; 
  }
  .logo{
    margin-top:  300px;
    margin-right: -150px;
  }
  .line{
    font-size: 15px;
  }
  img.image {
     margin-top:  90px;

  }
   .from  {
    margin-left: -500px;
    width: 200px;
    height: 100px;

  }
  .FormField__User input {
    width: 250px;
    margin: 10px 10px;
    padding: 1px 0;


  }
  .bt-loginsu{
    width: 100px;
    margin-left:    70px;
  }
  .FormField__loginLabel {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    text-align:center;
    color:  #1abc9c;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .App {
    height: 100vh;
    display: inline-block;
    color: white;
  
  }
  .FormField__User {
    font-size: 10px;

  }
}
@media only screen and (max-width: 1024px) {
  .App_Aside {
    height: 300px ;
    width: auto;
   }
  .App__Form {
    margin-top:  240px;
    margin-left: -400px; 
    padding-top:  0px;
    width:  100%;;
  }
  .logo{
    margin-top:  400px;
    margin-right: -70px;
    margin-left: -120px;
  }
  .from  {
    width:  100px;
    height:  200px;
  }
  img.image {
    margin-top:  50px;

 }
 .FormField__User input {
  margin: 20px 20px;

 }
  
}
@media only screen and (min-width: 700px) {
  .App_Aside {
    height: 300px ;
    width: 400px;
   }
   .App__Form {
    margin-left: -750px; 

   }
}
// @media only screen and (max-width: 800px) , (min-width: 750px) {
//   .App__Form {
//     margin-left: -620px; 
//   }
// }


@media only screen and (min-width: 1400px) {
  .App__Form {
    margin-top: 200px; 
    margin-left: -600px; 

   }
   .logo{ 
     margin-top: 400px;
   }
}
@media only screen and (min-width: 2500px) {
  .App__Form {
    margin-left: -900px; 

   }
}

